copywrite
{
  "name": "Copywriting_Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \" Research the following topic and return everything you can find about: '{{ $json[' Question ou sujet'] }}'\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "0970af0a-b8f5-41d8-a689-62f90da9aed2",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        360
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pS40fJ2h8fW28pCh",
          "name": "Perplexity Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cf8416e2-c5ff-4271-a4a1-cbe7b059d517",
      "name": "Slack-List",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1220,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "w6VU8CjV8QAgkVTO",
          "name": "slack"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in SEO content writing.\n\nYour mission is to create, publish, and notify about a search engine optimized article for a blog focused on artificial intelligence. Follow the steps below:\n\n1. **Write an SEO-optimized article with a maximum of 20 lines** based on the provided information:\n   - Structure the article with a catchy **H1 title**, one or two **H2 subtitles**, and a professional yet accessible tone.\n   - Extract and include relevant keywords from the data.\n   - Optimize for readability: short sentences, clear paragraphs, and a CTA if relevant.\n   - Do not exceed 20 lines of content.\n   - The article must be of maximum quality\n\n2. **Publish the article on Webflow**, including:\n   - The **title** as the article's headline\n   - The **SEO content** as the body\n\n3. **Write article content in a google doc, including:\n   - The **title** as the article's headline\n   - The The **SEO content** as the body\n   - The citations used to write the article \n\n3. **Send an email** to my address : {{ $json.emailAddress }} containing:\n   - The article's title\n   - The **URL** of the published article on Webflow\n\n4. **Retrieve the list of available Slack tools first** using “Slack Tools”.\n   - Then, send a notification on Slack that the article has been published, including:\n     - The article title\n     - The article link\n     - Slack channel ID: {{ $json.slackChannelId }}\n\n5. **Retrieve the list of available Notion tools first** using “Notion Tools”.\n   Then, **add a new entry to my Notion database** (ID: {{ $json.notionDatabaseId }}) with the following fields:\n   - The 'Name' column is of type 'title'  → {{ $('Start with Research Query Submission').item.json['Topic or Question'] }}\n   The 'Sujet' column is of type 'rich_text' → [the article's headline]\n   - The 'Contenu'column is of type 'rich_text' → [The SEO content]\n   - The 'URL' column is of type 'URL': → [The article link]\n   - The 'Status' column is of type 'select' → Select: `publish`\n\nImportant: Ensure that each step is successfully completed **before proceeding to the next**.",
        "options": {}
      },
      "id": "b2b4bcf6-1967-4e05-9143-3a6806a6e87b",
      "name": "Copywriting AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        400
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 1300
      },
      "id": "d7035373-6711-4d48-9279-1baf7f861e9c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "type": "string",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" - source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5dfb25c-029e-4cf4-b54d-074bd262d7d7",
      "name": "Format Research Output",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'the tool selected') }}",
        "toolParameters": "={{ $fromAI('tool_parameters','', 'json') }}"
      },
      "id": "f99a6af4-e99f-4486-a8d6-cdcf4995de97",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1360,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "w6VU8CjV8QAgkVTO",
          "name": "slack"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d675da3c-df0a-4300-82c1-642fa3183fe1",
      "name": "Generate SEO Blog Content (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        680,
        660
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ry6fi60jMp4387iP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Créateur d'articles (sources vérifiées)",
        "formDescription": "De la recherche à l'article — Pas besoin d'écrire",
        "formFields": {
          "values": [
            {
              "fieldLabel": " Question ou sujet",
              "fieldType": "textarea",
              "placeholder": "=Comment GPT-4 transforme la création de contenu en 2025 ?",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Soumettre",
          "path": "article",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Votre demande a été enregistrée. Patientez pour la production de l'article"
            }
          }
        }
      },
      "id": "aa8944b0-397c-4385-b331-dfc1a4b3ff98",
      "name": "Start with Research Query Submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        120,
        360
      ],
      "webhookId": "a29cbcd3-9d11-4f7c-9aad-14681c356c53",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c06b2d24-1fd7-40f0-aee5-b5d6553e289e",
              "name": "emailAddress",
              "type": "string",
              "value": "contact@fatala.fr"
            },
            {
              "id": "451aad67-5190-4eab-a982-56092734bb07",
              "name": "slackChannelId",
              "type": "string",
              "value": "C06B5ESJZ3P"
            },
            {
              "id": "8a294900-f367-47a2-b260-344b133dc2ff",
              "name": "notionDatabaseId",
              "type": "string",
              "value": "1c9e59b09d818096a5def7413fb117ee"
            },
            {
              "id": "93b0e1d2-11de-4030-830a-6f05e1fdded1",
              "name": "title",
              "value": "={{ $('Start with Research Query Submission').item.json[' Question ou sujet'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "494bab28-5482-4e74-819f-948e600da2ec",
      "name": "Edit Workflow Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        360
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "5010e2d5-00a5-4a9e-8996-1a015d672082",
      "name": "Notion-List",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        960,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "KDh9GwSIK7HUnP0c",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool','the tool selected') }}",
        "toolParameters": "={{ $fromAI('tool_parameters','', 'json') }}"
      },
      "id": "fc9f350a-9364-4da3-aa4e-1e54df1e92aa",
      "name": "Insert Article in Notion",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1100,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "KDh9GwSIK7HUnP0c",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "siteId": "=6362c4a0a191ba2d2a5b5803",
        "collectionId": "=6362c4a0a191ba123d5b580f",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Edit Workflow Variables').item.json.title }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `The article link`, 'string') }}"
            },
            {
              "fieldId": "blog-post-richt-text",
              "fieldValue": "={{ $('Perplexity Research').item.json.choices[0].message.content }}"
            },
            {
              "fieldId": "=slug",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', `Slug generated from article link`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.webflowTool",
      "typeVersion": 2,
      "position": [
        1620,
        660
      ],
      "id": "1c810496-854c-47de-8ebf-98db9c0c08f0",
      "name": "Webflow",
      "credentials": {
        "webflowOAuth2Api": {
          "id": "2g6G9vJ9BVGstzgh",
          "name": "Webflow account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "a2a4d31e-813d-4ab5-8cea-5efe4bfdf03a",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1500,
        660
      ],
      "webhookId": "b68c6af8-46e6-4ed9-ae72-445e9cb7ab88",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "wZdH3KYtoW3IwY9u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        820,
        660
      ],
      "id": "a22f3147-dcf6-431f-90b9-598176cc1cf7",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3ff8d8bf-1ee4-4606-b4cc-937abc6d6043",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1120,
        240
      ],
      "webhookId": "b132ff74-2807-4cbf-b5b7-a62a207161d3",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1b6GLRH7UB4s3FcrAiPqvXTlFyj2xxEhFozZQcghnDVQ",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Perplexity Research').item.json.choices[0].message.content }}"
            },
            {
              "action": "insert",
              "text": "={{ $('Perplexity Research').item.json.citations[0]}},\n{{ $('Perplexity Research').item.json.citations[1]}},\n{{ $('Perplexity Research').item.json.citations[2]}},\n{{ $('Perplexity Research').item.json.citations[3]}},\n{{ $('Perplexity Research').item.json.citations[4]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1740,
        660
      ],
      "id": "894aa7bd-5390-44f9-8c7b-20bf1f9ffcaf",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nZJTypfmvWAlD7OR",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        560
      ],
      "id": "c2017cf1-2ac3-4833-833b-cb3692ee0fd2",
      "name": "Webhook",
      "webhookId": "b4dbcf62-c48a-4679-b5e0-d39283b13461",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1640,
        240
      ],
      "id": "7e2935fb-959b-4dec-9a12-119f36e4cc8a",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6652a9-3c7a-450e-b58a-71a163a01481",
              "name": "=output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        420
      ],
      "id": "b213adc3-d708-4e5f-8642-a0a8f3cdaa84",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Start with Research Query Submission": [
      {
        "json": {
          " Question ou sujet": "comment GPT4 transforme le monde de la finance ?",
          "submittedAt": "2025-05-21T10:59:53.690+02:00",
          "formMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Format Research Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Research Output": {
      "main": [
        [
          {
            "node": "Edit Workflow Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Workflow Variables": {
      "main": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Blog Content (GPT-4o)": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start with Research Query Submission": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack Channel": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion-List": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack-List": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert Article in Notion": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copywriting AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d8987f9-a44b-4cc3-a8a9-d5d15833f403",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84a942a01ca3adb130120fbe1c4a7a2dea8fff5601432988775eb87a196b2f73"
  },
  "id": "7X0sA1ZTWoLjlY6N",
  "tags": []
}
